Html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    text-align: center;
    background-color: #000;
    color: #ffffff;
    height: 100%;
    
}
footer{
text-align: center;
 
      /* Height of the footer */

}
* {
    box-sizing: border-box;
}

p {
 font-size: 1rem;   
}

a {
 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}
.margin-sides{
margin: 2%;
}
.img-profile{
width: 40%;
border-radius: 100%;
margin-left: auto;
margin-right: auto;

}